{% extends "base.html" %}
{% block content %}
<main role="main">
    <div class="container" align="center">
<br/>
<br/>
<br/>
        <div class="row">
        <h2 style="color:red">Você não tem pedidos pendentes</h2>
        </div>
<br/>
<br/>
    <div class="row" >
    <table class="table table-hover">
        <tr>
            <h6><td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Nome do Produtor:</h6></div></td>
            <td></td>
            <td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Produto:</h6></div></td>
            <td></td>
            <td width="10%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Quantidade:</h6></div></td>
            <td></td>
            <td width="10%" style="vertical-align:middle;" ><div align="center"><h6 style="color:black">Valor total:</h6></div></td>
        </tr>
    </table>
    <br/>
        </div>
        <div class="row" style="justify-content: space-between">
        <input type="button" class ="btn btn-primary border teste2" border="2" style= "background-color: #001637;font-size: 15px;" value="Pagina Anterior" onclick="history.back(-1)" />
</main>
  {% endblock %}