{% extends "base.html" %}
{% block content %}
    <main role="main">
    <div class="container" align="center">
        <div class="row" >
            <div class="col">
                <h4 style="color:black">O que deseja encomendar?</h4>
            </div>
            <div class="col"></div>
            <br/>
           <br/>
              </div>
            </div> 
                <table class="table table-hover">
                <tr>
                  <h6><td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Nome do Produtor:</h6><input id="inputtype" type = "text" name = "nome" placeholder="Nome do Produtor" /></div></td>
                  <td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Categoria:</h6><input id="inputtype" type = "text" name = "categoria" placeholder="Categoria" /></div></td>
                  <td width="10%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Horário de funcionamento:</h6></div></td>
                  <td width="10%" style="vertical-align:middle;" ><div align="center"><button type = "submit" class= "searchbutton"><a href="#">
                      <img src="static/images/icon.png" 
                      onmouseover="this.src='static/images/icon2.png'"
                      onmouseout="this.src='static/images/icon.png'"
                      border="0" alt="" width="50px" height="50px"/></a></button></div>
                  </td>
                </tr>
              </form>
                </table>
      </div>
    </div>  
    </main>
  {% endblock %}