{% extends "base.html" %}
{% block content %}
    <main role="main">
    <form autocomplete="off" action = "/access_producer" method = "POST">
    <div class="container">
      <div class="row"  align = "left">
        <div class="col">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
          <img border="0" src="/static/images/logo.jpeg" width="300" height="300">
        </div>
        <div class="col">
            <br/>
            <br/>
            <br/>
            <h2>Olá produtor,</h2>
            <h3>Faça seu login:</h3>
            <br/>
          <h5 style="color:black">CNPJ (somente números):</h5>
          <p><input autocomplete="false" type = "text" name = "CNPJ" placeholder="CNPJ" /></p>
          <h5 style="color:black">Senha:</h5>
          <p><input autocomplete="false" type = "password" id= "pass" name = "password" placeholder="Senha"/></p>
          <br/>
          <p><input type = "submit" value = "Login" name="index"/></p> 
          <br/>
          <br/>
          <p><input type = "submit" value = "Registrar" name="index"/></p>
        </div>
      </div>
    </div> 
  </form>
    </main>
    {% endblock %}
