{% extends "base.html" %}
{% block content %}
    <main role="main">
    <form autocomplete="off" action = "/register_producer" method = "POST">

    <div class="container">
      <div class="row" align ="center">
        <div class ="col">
          <img border="0" src="/static/images/logo.jpeg" width="300" height="300">
        </div>
      </div>
      <div class="row" align ="center">
        <div class ="col">
          <p><h3>Bem vindo ao AgriFacil, faça seu cadastro:</h3></p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="CNPJ">CNPJ (somente numeros)</label>
          <input type="text" class="form-control" id="CNPJ" name="CNPJ" placeholder="CNPJ">
        </div>
        <div class="form-group col-md-6">
          <label for="password">Senha:</label>
          <input type="password" class="form-control" id="pass" name="password">
        </div>
        <div class="form-group col-md-12">
          <label for="nome_oficial">Nome Oficial</label>
          <input type="text" class="form-control" id="nome_oficial" name="nome_oficial" placeholder="Nome no registro">
        </div>
        <div class="form-group col-md-12">
          <label for="nome_fantasia">Nome Fantasia</label>
          <input type="text" class="form-control" id="nome_fantasia"" name="nome_fantasia"" placeholder="Nome no registro">
        </div>
        <div class="form-group col-md-6">
          <label for="telefone">Telefone</label>
          <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
        </div>
        <div class="form-group col-md-6">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-group col-md-4">
          <label class="my-1 mr-2" for="agroecologico">Agroecológico?</label>
          <select class="custom-select my-1 mr-sm-2" id="agroecologico" name="agroecologico">
            <option selected>Escolher...</option>
            <option value="Sim">Sim</option>
            <option value="Nao">Não</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="my-1 mr-2" for="organico">Orgânico?</label>
          <select class="custom-select my-1 mr-sm-2" id="organico" name="organico">
            <option selected>Escolher...</option>
            <option value="Sim">Sim</option>
            <option value="Nao">Não</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="my-1 mr-2" for="individualColetiva">Individual ou Coletiva?</label>
          <select class="custom-select my-1 mr-sm-2" id="individualColetiva" name="individualColetiva">
            <option selected>Escolher...</option>
            <option value="Individual">Individual</option>
            <option value="Coletiva">Coletiva</option>
          </select>
        </div>
        

        <div class="form-group col-md-12">
          <h2>Endereço</h2>
        </div>

        <div class="form-group col-md-12">
          <input type="text" class="form-control" id="CEP" name="CEP" placeholder="CEP">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="rua" name="rua" placeholder="Rua">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="numero" name="numero" placeholder="Número">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento">
        </div>

      </div>
      
      </div>
      <div class="row" align ="center">
        <div class="col">
          <button type="submit" class="btn btn-primary" value = "Cadastrar">Entrar</button>
        </div>  
      </div>
    </div>
    </form>
    </main>
    {% endblock %}