{% extends "base.html" %}
{% block content %}
<main role="main">
    <div class="container" align="center">
<br/>
<br/>
        <div class="row">
        <h2 style="color:black">Veja o histórico de vendas</h2>
        </div>
<br/>
<br/>
    <div class="row" >
    <table class="table table-hover">
        <tr>
            <h6><td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Nome do cliente:</h6></div></td>
            <td></td>
            <td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Email do cliente:</h6></div></td>
            <td></td>
            <td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Contato do Cliente:</h6></div></td>
            <td></td>
            <td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">Hora do pedido:</h6></div></td>
            <td></td>
            <td width="10%" style="vertical-align:middle;" ><div align="center"><h6 style="color:black">Valor total:</h6></div></td>
        </tr>

            {% for result in sell_history %}
        <tr class="item">
            <td width="20%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">{{result[2]}}</h6></div></td>  
            <td></td>
            <td width="10%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">{{result[3]}}</h6></div></td>  
            <td></td>
            <td width="10%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">{{result[4]}}</h6></div></td>  
            <td></td>
            <td width="10%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">{{result[5]}}</h6></div></td>  
            <td></td>    
            <td width="10%" style="vertical-align:middle;"><div align="center"><h6 style="color:black">R$ {{result[1]}}</h6></div></td>            
        </tr>
            {% endfor %}
    </table>
    <br/>
        </div>
    </div>  
</main>
  {% endblock %}